<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h2>All Users</h2>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>

  <% users.forEach(u => { %>
    <tr>
      <td><%= u.username %></td>
      <td><%= u.email %></td>
      <td>
        <form action="/admin/delete-user/<%= u._id %>" method="POST">
          <button onclick="return confirm('Delete user and all data?')">
            Delete
          </button>
        </form>
      </td>
    </tr>
  <% }) %>
</table>

</body>
</html>